* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: Futura Std, sans-serif;
  font-size: 16px;
}

body {
  background: #f9f8fe;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  padding-right: 8rem;
}

.logo {
  color: #2196f3;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 650;
  align-self: auto;
}

.input-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
}

.input-field {
  width: 21.875rem;
  height: 2.625rem;
  border: none;
  padding: 1rem;
  border-radius: 0.3125rem;
  background: #fff;
  outline-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.input-field::placeholder {
  color: #d2d2db;
}

.Search-icon {
  position: absolute;
  left: 317px;
  bottom: 0px;
  top: 21px;
  right: 131px;
  transform: translateY(-50%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4.56rem;
}

.base-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weather-img {
  position: relative;
  display: inline-block;
}

.sunset {
  width: 100%;
  border-radius: 1.0625rem;
}

.image-content1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 86%;
  bottom: 8%;
  margin-left: 1rem;
  justify-content: center;
  align-items: end;
  background: none;
}

.image-content2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 86%;
  bottom: 8%;
  justify-content: center;
  align-items: flex-end;
  background: none;
}

.time {
  font-size: 1rem;
  font-style: normal;
  font-weight: 650;
  color: #fff;
}

.sunset-time {
  font-size: 1rem;
  color: #fff;
}

.temp {
  font-size: 8.75rem;
  color: #fff;
}

.location {
  font-size: 1rem;
  color: #fff;
  position: relative;
  left: 38px;
}

.description {
  position: relative;
  bottom: 21px;
  right: 27px;
  font-size: 0.8rem;
  color: #fff;
}

.weatherIcon {
  position: relative;
  right: 87px;
  top: 34px;
}

.temp-circle {
  position: relative;
  top: 15px;
  left: 166px;
  display: none;
}

.base-content {
  display: flex;
  gap: 0.2rem;
  margin-top: 0px;
  flex-wrap: wrap;
}

.Day {
  color: #fff;
}

.dtcontainer {
  width: 100%;
  margin-bottom: 4.56rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.23rem;
  grid-template-rows: repeat(2, 1fr);
  padding: 1.8rem;
  border-radius: 0.3125rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.humidity,
.pressure,
.feels,
.visibility {
  width: auto;
  height: auto;
  display: flex;
  gap: 0.8rem;
}

.content,
.pressure-content,
.feels-content,
.visibility-content {
  width: 4.1875rem;
  height: 2.5rem;
}

.humdity-text,
.pressure-text,
.feels-text,
.visibility-text {
  font-size: 1rem;
  font-weight: 400;
}

.humidity-percent,
.pressure-speed,
.feels-percent,
.visibility-speed {
  font-size: 1.0625rem;
  font-weight: 650;
}

.temp-max-min-container {
  width: 100%;
  display: flex;
  gap: 7.25rem;
  padding: 1.94rem;
  border-radius: 0.3125rem;
  background: rgb(58, 146, 184);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.Max {
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
}

.title-max {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}

.value-max {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 650;
}

.Min {
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
}

.title-min {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}

.value-min {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 650;
}

.forcast-container {
  width: 56.5625rem;
  height: 25.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3125rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.weather-graph {
  width: 100%;
  height: 12.9375rem;
  display: grid;
  grid-template-areas: "first" "second";
  background: rgb(58, 146, 184);
}

.forecast-title {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  color: #ffff;
  grid-area: second;
  justify-self: center;
  text-transform: uppercase;
}

.weather-statistics {
  align-self: baseline;
  padding: 0.1rem;
  grid-area: first;
  padding: 0.3rem;
  font-size: 0.7rem;
  width: 18%;
  color: rgb(255, 255, 255);
  background-color: #ffc107;
}

.forcast-days-container {
  padding: 2.1rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.1rem;
  display: flex;
}

.days {
  width: 7.25rem;
  height: 9.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.3125rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.forcast-days {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

.forcast-temp {
  color: #000;
  font-size: 1rem;
  font-weight: 650;
}

.forcasticon {
  width: 3.1rem;
}

.forecast-empty {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.error {
  background-color: #fbd9df;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: mediumvioletred;
  position: relative;
  top: 10px;
}

/* Media query Start Here */

/* Media query for screens with a maximum width of 1200px */
@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }

  .Day {
    font-size: 16px;
  }

  .main {
    padding-bottom: 2.56rem;
  }

  .image-content1 {
    right: 82%;
  }

  .image-content2 {
    left: 84%;
  }

  .weatherIcon {
    top: 55px;
  }

  .dtcontainer {
    margin-bottom: 2.56rem;
  }

  .forcast-container {
    width: 100%;
    height: 50%;
  }

  .weather-statistics {
    width: 25%;
  }

  .Search-icon {
    left: 297px;
  }
}

/* Media query for screens with a maximum width of 1032px */
@media (max-width: 1032px) {
  html {
    font-size: 13px;
  }

  .weatherIcon {
    right: 70px;
  }

  .temp-circle {
    left: 135px;
  }
}

/* Media query for screens with a maximum width of 932px */
@media (max-width: 932px) {
  html {
    font-size: 11px;
  }

  .Search-icon {
    left: 213px;
    top: 15px;
  }
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  html {
    font-size: 11px;
  }

  .Day {
    font-size: 10px;
  }

  .image-content1 {
    bottom: 0%;
  }

  .weatherIcon {
    right: 38px;
    top: 65px;
  }

  .temp {
    font-size: 6.75rem;
  }

  .temp-circle {
    left: 95px;
  }

  .forcast-container {
    margin-top: 1rem;
  }
}

/* Media query for screens with a maximum width of 576px */
@media (max-width: 576px) {
  .temp-circle {
    left: 84px;
    width: 15px;
    top: -45px;
  }

  .weatherIcon {
    right: 29px;
    top: 26px;
  }
  .weatherIcon img {
    width: 6rem;
  }

  .temp {
    font-size: 5rem;
  }
}

/* Media query End Here*/
